{% extends "01.html" %}

{% block content %}
<body>
    <div class="full">


        <div class="functions">
            <h1>Сайт для сбора анамнеза</h1>
        </div>

        <div class="text">
            <h5>Данный сайт представляет собой медицинский сайт со следующим функционалом:</h5>
            <ul>
                <li>Система отправки, хранения и обработки медицинских аСистема отправки, хранения и обработки меди
                    цинских анкет.Система отправки, хранения и обработки медицинских анкет.Система отправки, хране
                    ния и обработки медицинских анкет.Система отправки, хранения и обработки медицинских анкет.Сист
                    ема отправки, хранения и обработки медицинских анкет.Система отправки, хранения и обработки медиц
                    инских анкет.Система отправки, хранения и обработки медицинских анкет.Система отправки, хранени
                    я и обработки медицинских анкет.Система отправки, хранения и обработки медицинских анкет.Система о
                    тправки, хранения и обработки медицинских анкет.Система отправки, хранения и обработки медици
                    нских анкет.Система отправки, хранения и обработки медицинских анкет.Система отправки, хранен
                    ия и обработки медицинских анкет.Система отправки, хранения и обработки медицинских анкет.Сист
                    ема отправки, хранения и обработки медицинских анкет.Система отправки, хранения и обработки медиц
                    инских анкет.Система отправки, хранения и обработки медицинских анкет.Система отправки, хране
                    ния и обработки медицинских анкет.Система отправки, хранения и обработки медицинских анкет.Сис
                    тема отправки, хранения и обработки медицинских анкет.Система отправки, хранения и обработки ме
                    дицинских анкет.Система отправки, хранения и обработки медицинских анкет.Система отправки, хране
                    ния и обработки медицинских анкет.Система отправки, хранения и обработки медицинских анкет.Систе
                    ма отправки, хранения и обработки медицинских анкет.Система отправки, хранения и обработки медици
                    нских анкет.Система отправки, хранения и обработки медицинских анкет.Система отправки, хране
                    ния и обработки медицинских анкет.Система отправки, хранения и обработки медицинских анкет.Сист
                    ема отправки, хра нения и обработки медицинских анкет.Система отправки, хранения и обработки меди
                    цинских анкет.Система отправки, хранения и обработки медицинских анкет.Система отправки, хране
                    ния и обработки медицинских анкет.Система отп
                    равки, хранения и обработки медицинских анкет.нкет.</li>
            </ul>
        </div>

        <hr width="90%">

        <div class="text">
            <h5>На сайте размещены следующие страницы:</h5>
            <ul>
                <li>Титульная.</li>
                <li>Меню.</li>
                <li>Профиль.</li>
                <li>А также, страницы для работы с анкетами и т.д.</li>
            </ul>
        </div>

        <div class="functions">
            <h2>Цели сайта</h2>
        </div>

        <div class="boxes">
            <div class="box-1">
                <h3>1. Минимизация времени приёма у врачей.</h3>
                <p>Каждый, кому приходилось заполнять листы для сбора анамнеза у врача в кабинете знает, что на это ух
                    одит немало времени: вопросов зачастую много, многие из них нужно обдумать, а на некоторые поиск
                    ать ответы в медицинских картах.</p>
            </div>
            <div class="box-2">
                <h3>2. Сокращение времени ожидания в очередях.</h3>
                <p>Из-за подобных трат времени людям приходится стоять в долгих очередях, а вра
                    чи не могут принять всех пациентов за рабочий день.</p>
            </div>
            <div class="box-3">
                <h3>3. Повышение продуктивности медицинских работников и уменьшение нагрузки на них.</h3>
                <p>Каждый день врачам приходится заполнять одни и те же бланки, на которые уходит много времени, котор
                    ое могло быть потрачено с большей пользой. Если врачам больше не заниматься этой рутинной и ст
                    атичной работой, то их продуктивность сильно увеличится.</p>
            </div>
            <div class="box-4">
                <h3>4. Эконочия государственных средств.</h3>
                <p>В экономии средств можно написать почему из повышения производительности труда мед. работников выт
                    екает экономия гос. средств. Можно и кратко, главное - чтобы чётко и понятно.</p>
            </div>
        </div>

        <div class="functions">
            <h2>Функционал сайта</h2>
        </div>

        <div class="text">
        <ul>
            <li><h5>Пациенту доступен следующий функционал:</h5>
            <ul>
                <li>Заполнение анкеты.</li>
                <li>Восстановление(изменение) своего пароля по электронной почте.</li>
            </ul></li>
        </ul>
        </div>

        <hr width="90%">

        <div class="text">
        <ul>
            <li><h5>Доктору доступен следующий функционал:</h5>
            <ul>
                <li>Просмотр анкет и поиском по ФИО пациентов.</li>
                <li>Возможность помечать анкеты, как уже использованные(после приёма пациента), чтобы система их удалила.</li>
            </ul></li>
        </ul>
        </div>


        <hr width="90%">

        <div class="text">
        <ul>
            <li><h5>Модератору доступен следующий функционал:</h5>
            <ul>
                <li>Создание анкеты.</li>
                <li>Редактирование анкеты.</li>
                <li>Удаление анкеты.</li>
            </ul></li>
        </ul>
        </div>

        <hr width="90%">

        <div class="text">
        <ul>
            <li><h5>Администратору больницы доступен следующий функционал:</h5>
            <ul>
                <li>Удаление пациента.</li>
                <li>Регистрация доктора.</li>
                <li>Удаление доктора.</li>
                <li>Изменение пароля доктора.</li>
            </ul></li>
        </ul>
        </div>

        <hr width="90%">

        <div class="text">
        <ul>
            <li><h5>Главный администратор может:</h5>
            <ul>
                <li>Регистрировать больницы.</li>
                <li>Удалять больницы.</li>
            </ul></li>
        </ul>
        </div>

        <br>
        </div>
    </div>

</body>

{% endblock %}