{% extends "01.html" %}

{% block content %}
<body>
    <div class="full">

        <div class="functions">
            <h1>Сайт для сбора анамнеза</h1>
        </div>

        <div class="text">
        <h5>Данный сайт представляет собой медицинский сайт со следующим функционалом:</h5>
        <ul>
            <li>Система отправки, хранения и обработки медицинских анкет.</li>
        </ul>

        <hr width="90%">

        <h5>Целями сайта являются:</h5>
        <ul>
            <li>Минимизация времени приёма у врачей.</li>
            <li>Сокращение времени ожидания в очередях.</li>
            <li>Повышение производительности труда медицинских работников.</li>
            <li>Экономия государственных средств.</li>
            <li>Уменьшение нагрузки на врачей в плане оформления документации и первичного опроса пациентов.</li>
        </ul>

        <hr width="90%">

        <h5>На сайте размещены следующие страницы:</h5>
        <ul>
            <li>Титульная.</li>
            <li>Меню.</li>
            <li>Профиль.</li>
            <li>А также, страницы для работы с анкетами и т.д.</li>
        </ul>
        </div>

        <div class="functions">
            <h3>Функционал сайта</h3>
        </div>

        <div class="text">
        <ul>
            <li><h5>Пациенту доступен следующий функционал:</h5>
            <ul>
                <li>Заполнение анкеты.</li>
                <li>Восстановление(изменение) своего пароля по электронной почте.</li>
            </ul></li>
        </ul>

        <hr width="90%">
        <ul>
            <li><h5>Доктору доступен следующий функционал:</h5>
            <ul>
                <li>Просмотр анкет и поиском по ФИО пациентов.</li>
                <li>Возможность помечать анкеты, как уже использованные(после приёма пациента), чтобы система их удалила.</li>
            </ul></li>
        </ul>


        <hr width="90%">
        <ul>
            <li><h5>Модератору доступен следующий функционал:</h5>
            <ul>
                <li>Создание анкеты.</li>
                <li>Редактирование анкеты.</li>
                <li>Удаление анкеты.</li>
            </ul></li>
        </ul>

        <hr width="90%">
        <ul>
            <li><h5>Администратору больницы доступен следующий функционал:</h5>
            <ul>
                <li>Удаление пациента.</li>
                <li>Регистрация доктора.</li>
                <li>Удаление доктора.</li>
                <li>Изменение пароля доктора.</li>
            </ul></li>
        </ul>

        <hr width="90%">
        <ul>
            <li><h5>Главный администратор может:</h5>
            <ul>
                <li>Регистрировать больницы.</li>
                <li>Удалять больницы.</li>
            </ul></li>
        </ul>

        <br>
        </div>
    </div>

</body>

{% endblock %}