<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>

    <table>
        <tr>
            <td>
                <img src="../static/img/Dmitriy.jpg" width="184" height="110" title="Тут Дмтрий"/>
            </td>
            <td>
                <h1>Дмитрий боев</h1>
                <p><em>Реальный пацан, <strong>вы таких в жизни еще не встречали</strong></em></p>
                <p><em><strong>ЖЕСТКО</strong></em>(очень) играю на басу, слушаю фанк</p>
            </td>
        </tr>
    </table>

</body>
</html>