{% extends "base.html" %}

{% block content %}

<body>

    <div class="form">
        <div class="table_of_contents">
            <h1>{{ type }}</h1>
        </div>
        {% for item, url in qui.items() %}
            <div class="problem">
                <a href= {{ url }}>
                    <div class="boxes">
                        <h3>{{ item }}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}

        <br>


    </div>
</body>

{% endblock %}