{% extends "base.html" %}

{% block content %}
<body>
    <div class="form">

        <div class="table_of_contents">
            <h1>Сайт для сбора анамнеза</h1>
        </div>

        <div class="text">
            <div class="description">
                <h5>Данный проект представляет собой систему отправки, хранения и обработки медицинских анкет.
                    Анкетирование происхоидит полностью дистанционно с устройства пациента.
                    Заполненные анкеты отправляются врачам, которые анализируют их до или в начале приёма пациента.</h5>
            </div>
        </div>

        <hr width="90%">

        <div class="text">
            <h5>Чем полезно проведение анкетирования и почему это является первым и неотъемлемым пунктом в рамках обследований?</h5>
            <h6>Анкетирование направлено на:</h6>
            <ul>
                <li>Сбор анамнеза, выявление отягощённой наследственности, жалоб, симптомов.</li>
                <li>Определение поведенческих факторов риска и других патологических состояний и заболеваний.</li>
                <li>Выявление у граждан в возрасте 65 лет и старше жалоб, риска падений.</li>
                <li>Выявление или подтверждение факта перенесенной или новой коронавирусной инфекции у пациентов.</li>
            </ul>
        </div>

        <div class="table_of_contents">
            <h2>Цели сайта</h2>
        </div>

        <div class="boxes">
            <div class="box-1">
                <h3>1. Минимизация времени приёма у врачей.</h3>
                <p>Каждый, кому приходилось заполнять листы для сбора анамнеза у врача в кабинете знает,
                    что на это уходит немало времени. Вопросов зачастую много,
                    многие из них нужно обдумать, а на некоторые поискать ответы в медицинских картах.</p>
            </div>
            <div class="box-2">
                <h3>2. Сокращение времени ожидания в очередях.</h3>
                <p>Из-за подобных трат времени людям приходится стоять в долгих очередях,
                    а врачи не могут принять всех пациентов за рабочий день.</p>
            </div>
            <div class="box-3">
                <h3>3. Повышение продуктивности медицинских работников и уменьшение нагрузки на них.</h3>
                <p>Каждый день врачам приходится заполнять одни и те же бланки, на которые уходит много времени,
                    которое могло быть потрачено с большей пользой.
                    Если врачам больше не заниматься этой рутинной и статичной работой,
                    их производительность труда значительно увеличится.</p>
            </div>
            <div class="box-4">
                <h3>4. Экономия государственных средств.</h3>
                <p>Благодаря нашей системе за определенный период может быть обслужено большее количество пациентов,
                    но при этом затраты государства не увеличиваются.</p>
            </div>
        </div>

        <div class="table_of_contents">
            <h2>Функционал сайта</h2>
        </div>

        <div class="text">
        <ul>
            <li><h5>Пациенту доступен следующий функционал:</h5>
            <ul>
                <li>Заполнение анкеты.</li>
                <li>Восстановление(изменение) своего пароля по электронной почте.</li>
            </ul></li>
        </ul>
        </div>

        <hr width="90%">

        <div class="text">
        <ul>
            <li><h5>Доктору доступен следующий функционал:</h5>
            <ul>
                <li>Просмотр анкет и поиском по ФИО пациентов.</li>
                <li>Возможность помечать анкеты, как уже использованные(после приёма пациента), чтобы система их удалила.</li>
            </ul></li>
        </ul>
        </div>


        <hr width="90%">

        <div class="text">
        <ul>
            <li><h5>Модератору доступен следующий функционал:</h5>
            <ul>
                <li>Создание анкеты.</li>
                <li>Редактирование анкеты.</li>
                <li>Удаление анкеты.</li>
            </ul></li>
        </ul>
        </div>

        <hr width="90%">

        <div class="text">
        <ul>
            <li><h5>Администратору больницы доступен следующий функционал:</h5>
            <ul>
                <li>Удаление пациента.</li>
                <li>Регистрация доктора.</li>
                <li>Удаление доктора.</li>
                <li>Изменение пароля доктора.</li>
            </ul></li>
        </ul>
        </div>

        <hr width="90%">

        <div class="text">
        <ul>
            <li><h5>Главный администратор может:</h5>
            <ul>
                <li>Регистрировать больницы.</li>
                <li>Удалять больницы.</li>
            </ul></li>
        </ul>
        </div>

        <br>
        </div>

</body>

{% endblock %}