{% extends "base.html" %}

{% block content %}
<body>
    <div class="form">

        <div class="table_of_contents">
            <h1>Анкеты</h1>
        </div>


        <hr width="90%">

        <div class="table_of_contents">
            <h2>Цели сайта</h2>
        </div>

        <div class="boxes">
            <div class="box-1">
                <h3>1. Минимизация времени приёма у врачей.</h3>
                <p>Каждый, кому приходилось заполнять листы для сбора анамнеза у врача в кабинете знает,
                    что на это уходит немало времени. Вопросов зачастую много,
                    многие из них нужно обдумать, а на некоторые поискать ответы в медицинских картах.</p>
            </div>
            <div class="box-2">
                <h3>2. Сокращение времени ожидания в очередях.</h3>
                <p>Из-за подобных трат времени людям приходится стоять в долгих очередях,
                    а врачи не могут принять всех пациентов за рабочий день.</p>
            </div>
            <div class="box-3">
                <h3>3. Повышение продуктивности медицинских работников и уменьшение нагрузки на них.</h3>
                <p>Каждый день врачам приходится заполнять одни и те же бланки, на которые уходит много времени,
                    которое могло быть потрачено с большей пользой.
                    Если врачам больше не заниматься этой рутинной и статичной работой,
                    их производительность труда значительно увеличится.</p>
            </div>
            <div class="box-4">
                <h3>4. Экономия государственных средств.</h3>
                <p>Благодаря нашей системе за определенный период может быть обслужено большее количество пациентов,
                    но при этом затраты государства не увеличиваются.</p>
            </div>
        </div>
    </div>

</body>

{% endblock %}