{% extends "01.html" %}

{% block content %}
    <p>Я родился в Москве в 70-м на краю города

Достают табельное, снимают пиджаки
«Не передумал?» — слышу. «Не, — говорю, — мужики»
Я вспомнил вечер у реки, шашлык, как Аньке дал на клык
Братишек с пивом; бля, мы умели отдохнуть красиво!
Пара Макаровых смотрела в мою сторону
Как глаза матери, когда ее отпевали
Ебать мой хуй, а как в Гаване было здорово
Закаты, шорты, пальмы
Вижу сняли с предохранителя
Вспомнил сына, боксерские перчатки, ангела-хранителя
Первая пуля вошла в руку — больно, сука
Вторая в щеку угодила, косой мудила
Выплюнул три зуба на бетон
Дальше в ногу и в живот, пиджачки прихватили
Трут уже о своем, обо мне забыли
Кровь наполнила рот, вот и всё, приплыли</p>
{% endblock %}