@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    /* background-color: #2093C3;
    background-color: #2BBDC2;
    background-color: #219F9C;
    background-color: #65C9D4;
    background-color: #82EEFD;
    background-color: #757C88;
    background-color: #59788E;
    background-color: #F1F1F1; */

    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
    background: linear-gradient(to right, #E0EAFC, #FFFFFF, #CFDEF3);
    background-image: url("back.jpg");

    color: #000000;

    font-size: 16 px;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}


.functions {
    background-color: #CFDEF3;
    border: 4px solid #C9D9FF;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(100, 100, 200, 100);

    padding: 5px 0px;
    margin-top: 50px;
    margin-bottom: 30px;

    text-align: center;

}

.text {
    margin-left: 100px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.boxes div {
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    flex-basis: 35%;
    margin: 5px;
}
.box-1 {
    flex: 5;
}
.box-2 {
    flex: 3;
}
.box-3 {
    flex: 5;
}
.box-4 {
    flex: 3;
}

.full {
# background: #FFFFFF;
}