body{
    overflow-x:hidden;
    color:#818181
}

img{
    max-width:100%;
    height:auto
}

.logotip img{
    max-height:90px;
    width:auto
}

.navbar{
padding:0
}

.navbar-dark .navbar-nav .nav-link{
color:#fff;
font-weight:600
}

.navbar-toggler{
padding:.25rem .55rem;
border-radius:0
}

.nav-link{
padding:.5rem 1rem
}

.navbar-light .navbar-nav .nav-link{
color:#000;
font-weight:600
}

li.nav-item.active,li.nav-item:hover,li.nav-item:focus{
background-color:#228B22
}

li.nav-item.active a.nav-link,li.nav-item:hover a.nav-link,li.nav-item:focus a.nav-link,li.nav-item a.nav-link:hover,li.nav-item a.nav-link:focus{
    color:#fff!important
}

.dropdown-menu{
border-radius:0
}

#navigation{
border:1px solid #dfdfdf;
border-left:0;
border-right:0
}

.navbar>.container{
position:relative
}

.navbar-text{
position:absolute;
top:-3px;right:15px
}

.navbar-toggler{
margin-left:15px
}

@media (min-width: 768px) {
.top-add{text-align: right}
}

@media (min-width: 991px) {
.dropdown-toggle::after{display:block;margin-left:auto;margin-right:auto;vertical-align:0;width:3px}
li.search {height: 45px;}
}

@media (max-width: 991px) {
#navbarTop2{border-top:1px solid;margin:0 15px}
li.nav-item{padding:0 15px}
}

@media (max-width: 767px) {
#navbarTop{margin:0 15px}
.logotip{text-align: center;margin-bottom: 10px}
}

.table_of_contents {
    background-color: #F1F1F1;
    border: 4px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(100, 200, 100, 100);

    padding: 5px 0px;
    margin-top: 50px;
    margin-bottom: 30px;

    text-align: center;
    color: #404040

}

.text {
    margin-left: 100px;
    color: #606060;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
}

.boxes div {
    padding: 10px;
    border: 1px solid silver;
    border-radius: 5px;
    flex-basis: 35%;
    margin: 5px;
    background-color: #FFFFFF;

}
.box-1, .box-3 {
    flex: 5;
}
.box-2, .box-4 {
    flex: 3;
}

.form {
    background: #e6e6e6;;
    box-shadow:0 0 40px -10px #000000;
    border-radius:8px;
}

.description {
    margin-right: 20px;
}

h3, h5 {
color: #505050;
}

p {
color: #606060;
}

